.profile {
   display: flex;
   justify-content: space-around;
   height: 80vh;
   width: 80vw;
   margin-top: 3rem;
}

@media (max-width: 480px) {
   .profile {
      width: 100%;
   }
}

.avInfo {
   display: flex;
   gap: 0.5rem;
   margin-top: 1rem;
}

.profPhoto {
   display: flex;
   justify-content: space-around;
   width: 20rem;
   height: 250px;
   margin-right: 3rem;
   background-color: beige;
}

.photo {
   height: 13rem;
   width: 12rem;
   border-radius: 50%;
}

.profStatus {
   height: 10vh;
}

.container {
   display: flex;
   flex-direction: column;
   height: 70vh;
   width: 50vw;
   background-color: beige;
}

.status {
   width: 15rem;
   height: 4rem;
   margin-right: 1rem;
   border: 1px solid beige;
}

.btnInfo {
   margin-left: 6rem;
   width: 9rem;
}

.label {
   display: flex;
   flex-direction: column;
}

.getInfo {
   display: flex;
   justify-content: space-around;
}

.useName {
   text-align: center;
}

.useName span {
   margin-left: 1rem;
}

.contInfo {
   margin: 0 3rem;
}

.profInfo {
   display: flex;
   justify-content: space-between;
}

.genData {
   margin: 0 7rem;
}

.form {
   position: relative;
   display: flex;
   justify-content: space-between;
}

.btnSave {
   position: absolute;
   top: 21rem;
   left: 16rem;
}

.filePhoto {
   width: 0.1rem;
   height: 0.1rem;
   opacity: 0;
   overflow: hidden;
   position: absolute;
   z-index: -1;
}