.headerCont{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 70px;
    background-color: rgb(211 231 233);
    align-items: center;
}

.link {
    color: #fff;
    background-color: rgb(191 194 176);
    border-radius: 5px;
    /* border: 1px solid #000; */
    text-decoration: none;
    padding: 10px 24px;
    height: fit-content;
    border: none;

    
}
.link:hover{
    background: rgb(161, 221, 226);

}

.ul {
   display: flex;
   gap: 2rem;
   list-style: none;

}

.active {
    columns: #000;
    background-color: #488;
    transition: all 0.3s;
}

.headerInfo {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.Logo {
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(204, 213, 166);
    
}