.footer-cont {
    width: 100%;
    height: 150px;
    background-color: rgb(211 231 233);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

   a{
      
      margin: 10px;
     padding: 10px;
      
      text-decoration: none;
  
  
  }
.imgFooter{
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 1025px){
  .footer-cont{
    height: 300px;
    margin-top: 60px;
  }
}